{$DOMAIN_NAME:localhost} {
    tls {$TLS_EMAIL:internal}

    handle /api/* {
        reverse_proxy backend:4000
    }
    
    handle /admin/* {
        reverse_proxy backend:4000
    }
    
    handle {
        reverse_proxy next-app:3000
    }
}
